Bin/
[bB]uild/
\.cabal-sandbox/
Lib/
ipch/
debug/
dist/
node_modules/
release/

\.DS_Store$
\.aps$
\.cache$
\.log$
\.opensdf$
\.orig$
\.recycle$
\.rej$
\.restore\d+$
\.sdf$
\.suo$
\.swo$
\.swp$
\.user$
cabal\.sandbox\.config$
public/stylesheets/style\.css$
