h1 {
  font-family: 'Lora', serif;
  font-style: italic;
  clear: both;
  font-size: 2em;
  text-rendering: optimizeLegibility;
  margin-top: 0.1em;
  margin-bottom: 0.5em;
}

h2 {
  font-family: 'Lora', serif;
  font-style: italic;
  font-size: 1.2em;
  margin: 20px 0px 10px;
}

h3 {
  font-family: 'Lora', serif;
  font-style: italic;
  font-size: 1em;
  margin: 20px 0px 5px;
  text-decoration: underline;
}

p {
  line-height: 1.4;
}

a:link, a:visited {
  color: #00f;
}

body {
  font-family: 'Lora', serif;
  font-size: 20px;
  background-color: #faf9f0;
  color: #444;
}

header {
  font-family: 'Merriweather', serif;
  padding: 20px 10px 10px;
  color: #000;
  font-size: 25px;
  text-align: center;
  background-color: #fefae1;
  border-bottom: 2px dotted #f9e356;
}

header img {
  border: 1px solid #b9a106;
}

.menu {
  width: 800px;
  font-size: 0.9em;
  margin: 20px auto 0;
  border-radius: 5px;
  border: 1px solid;
  border-color: #ca84b5;
  background-color: #e9cbe0;
  padding: 10px 0;
  box-shadow: 0 0 10px #888;
}

.menu ul {
  list-style-type: none;
  margin: 0;
}

.menu li {
  display: inline;
  margin: 0 10px 0 10px;
}

.menu a:link,

.menu a:visited {
  color: #3a1930;
  padding: 0 10px;
  border: none;
  text-decoration: none;
}

.menu a {
  transition-property: background;
}

.menu a:hover {
  color: #626;
  background-color: rgba(175,75,145,0.5);
  border-radius: 5px;
  transition-duration: 0.5s;
}

.menu .active a:link, .menu .active a:visited {
  color: #faf9f0;
  background-color: #bd67a4;
  border-radius: 5px;
}

.my-container {
  width: 800px;
  margin: 50px auto;
  overflow: hidden;
}

.main-content {
  float: left;
  width: 500px;
}

.main-content p {
  margin-bottom: 20px;
}

.sidebar {
  float: left;
  width: 300px;
}

.sidebar .widget {
  border-radius: 10px;
  border: 1px dashed #666;
  margin-left: 20px;
  background-color: #ddc;
}

.sidebar .widget h1 {
  font-family: 'Lora', serif;
  margin: 13px 10px 4px;
  padding-bottom: 10px;
  border-bottom: 1px dotted #ddd;
  border-radius: 2px 2px 0px 0px;
  margin-bottom: 10px;
}

.sidebar .widget h2 {
  font-family: 'Lora', serif;
  font-style: italic;
  font-size: 1.2em;
  margin: 20px 10px 10px;
}

.sidebar .widget p {
  font-family: 'Lora', serif;
  font-size: 15px;
  padding: 0px 10px;
  margin-bottom: 10px;
}

.contact {
  border-radius: 10px;
  border: 1px solid #666;
  margin: 20px 0;
  background-color: #ddc;
  padding: 10px 10px;
  width: 600px;
  height: 120px;
}

.contact img {
  border: 1px solid #888;
  float: left;
  margin-right: 10px;
}

.contact h1 {
  margin: 13px 10px 4px;
  padding-bottom: 10px;
  border-bottom: 1px dotted #ddd;
  border-radius: 2px 2px 0px 0px;
  margin-bottom: 10px;
}

.contact h2 {
  font-family: 'Lora', serif;
  font-style: italic;
  font-size: 1.2em;
  margin: 20px 10px 10px;
}

.contact .contact-row {
  font-family: 'Lora', serif;
  font-size: 0.8em;
  margin: 0px 10px;
  margin-right: 10px;
  line-height: 1.4;
}

.admin-menu {
  position: fixed;
  top: 0;
  left: 0;
}

.admin-menu .menu-item{
  margin-right: 10px;
}

.admin-menu .dropdown {
  float: left;
  clear: none;
}

.admin-menu .glyphicon {
  color: #e9cbe0;
  font-size: 1.2em;
  transition-property: color;
  transition-duration: 0.5s;
}

.admin-menu .glyphicon:hover {
  color: #bd67a4;
  transition-duration: 0.5s;
}

.login-message {
  color: #f00;
  margin-top: 20px;
}

.tooltip.in {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.form-signin {
  max-width: 300px;
  padding: 20px 30px 20px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin input[type="text"],
.form-signin input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}

.loginBox {
  font-size: 0.8em;
  width: 150px;
  background-color: rgba(159,175,223,0.25);
  border: 1px solid;
  border-radius: 3px;
  border-color: #000;
  color: rgba(0,0,0,0.7);
  position: fixed;
  top: 0;
  margin: 10px;
  padding: 3px 5px;
}

.loginBox h1 {
  font-family: 'Lora', serif;
  font-style: normal;
  font-size: 1em;
  text-rendering: optimizeLegibility;
  margin-bottom: 0em;
}

.logoutBox {
  font-size: 0.8em;
  background-color: #c10;
  border: 1px solid;
  border-radius: 3px;
  border-color: #000;
  color: #fff;
  position: fixed;
  top: 0px;
  margin: 10px;
  padding: 3px 10px;
}

footer {
  width: 800px;
  margin: 100px auto 50px;
  border-top: 1px dotted #ccc;
  padding-top: 5px;
  font-size: 13px;
  color: #a0a0a0;
}

.calendar {
  font-size: 0.8em;
  margin-bottom: 30px;
  width: 500px;
}

.calendar ul {
  list-style-type: none;
  padding: 5px 10px;
}

.calendar li {
  background-color: #ddc;
  float: left;
  width: 13%;
  margin: 0;
  padding: 4px 0;
  text-align: center;
  border-bottom: 1px solid;
  border-left: 1px solid;
  border-color: #888;
}

.calendar li.booked {
  color: #e00;
  background-color: #ddc;
  text-decoration: line-through;
  float: left;
  width: 13%;
  margin: 0;
  padding: 4px 0;
  text-align: center;
  border-bottom: 1px solid;
  border-left: 1px solid;
  border-color: #888;
}

