<div class="main-content">

  <h1>Övernattningslägenheten</h1>
  <div style="height: 180px;" class="calendar">
    <ul>
      <li>Mån</li>
      <li>Tis</li>
      <li>Ons</li>
      <li>Tor</li>
      <li>Fre</li>
      <li>Lör</li>
      <li>Sön</li>
    </ul>
  </div>

  <h1>Mangelrummet</h1>
  <div style="height: 180px;" class="calendar">
    <ul>
      <li>Mån</li>
      <li>Tis</li>
      <li>Ons</li>
      <li>Tor</li>
      <li>Fre</li>
      <li>Lör</li>
      <li>Sön</li>
    </ul>
  </div>

</div>

