<div class="main-content">
  <h1>Historia</h1>
  <h2>Om föreningen Omberg III</h2>
  <p>
    Stadsdelen Bagaregården planlades 1911 av stadsingenjör Anders Lilienberg
    och tillhör Örgryte Stadsdelsförvaltning, S:t Pauli församling.
  </p>

  <p>
    Tar man en promenad i området kan man studera en bebyggelse som i huvudsak
    består av flerbostadshus, sk. landshövdingehus, men även en hel del mysiga
    radhus och villor. Historien bakom de klassiska landshövdingehusen börjar
    redan på 1800-talet då man hade regler kring byggande som enbart tillät
    trähus om max två våningar på grund av brandrisken.
  </p>

  <p>
    Då det inte var ekonomiskt att enbart bygga tvåvåningshus och alltför
    kostsamt att bygga hela huset i sten kom det kreativa förslaget att bygga
    den första våningen i sten och de två övre våningarna i trä. Detta förslag
    blev först nedröstat, men dåvarande landshövdingen Albert Ehrenswärd fick
    till slut igenom beslutet i byggnadsnämnden 1875 – därav namnet
    landshövdingehus.  Utbyggnaden av området genomfördes från början av
    1900-talet fram till 1930, vilket medför att man kan se dessa hus med en
    mängd olika variationer och byggnadsstilar, allt ifrån 20-talets jugendstil
    till 30-talets funktionalism.
  </p>

  <h2>Skolor och barnomsorg</h2>
  <p>
    Bagaregårdsskolan är för elever från förskolan upp till årskurs 3 och
    ligger på Bagaregårdsgatan 4. Det finns även Ånässkolan som är belägen på
    Falkgatan 8 för elever upp till årskurs 5. För de lite äldre barnen finns
    Kålltorpskolan på Intagsgatan 14 för elever upp till årskurs 9. I nära
    anslutning till Strömmensberg ligger både Kålltorp och Lunden som erbjuder
    ett flertal förskolor med olika inriktningar.
  </p>

  <h2>Natur och fritid</h2>
  <p>
    I Bagaregården finns flertalet närbutiker och caféer och inom gångavstånd
    når man östra Göteborgs knytpunkt Redbergsplatsen som erbjuder alltifrån
    restauranger, shoppingbutiker och matbutiker till apotek och vårdcentral.
    När det gäller friluftsliv så mår vi alla bra av att röra på oss – oavsett
    om vi väljer att vistas utomhus eller på ett träningscenter. Vid
    Delsjöområdet ligger Skatås Motionscentrum där man kan träna på gym, spela
    frisbeegolf, ta en tur i joggingspåret, paddla kanot och mycket mer. En
    kort promenad från Redbergsplatsen ligger två populära träningscenter,
    Active Wellness på S:T Pauligatan och Friskis&Svettis på Södra
    Gubberogatan, där man kan prova på de flesta träningspass och
    träningsformer.
  </p>

  <h2>Kommunikationer</h2>
  <p>
    Från Bagaregården kan man smidigt och enkelt ta sig in till centrum,
    antingen med bil, buss eller spårvagn. Från Ejdergatan kan man ta
    spårvagnslinje 6 eller 8 och vid Härlandavägen går linje 1, 3 och 17 förbi
    som tar dig till city, Centralstationen eller Linnéstaden på drygt 10
    minuter. Det finns även ett flertal busslinjer med hållplatser i området.
    Med bil tar man sig snabbt ut på de större lederna via Ånäsmotet eller
    Olskroken. Vad gäller parkeringsmöjligheter är ett sk. boendeparkeringskort
    det vanligaste alternativet. Det finns även en hel del gratis
    parkeringsplatser i området där besökare kan ställa sin bil tillfälligt.
    För mer information besök
    <a href="http://www.goteborg.se/trafikkontoret">trafikkontoret</a>.
  </p>
</div>

