<div class="main-content">
  <h1>Information</h1>
  <h2>Trappuppgångarna</h2>
  <p>
    Det är delat ansvar för städning i trapphusen. Vid entrén i varje
    trappuppgång finns en anslagstavla och en lista som visar vid vilka
    tillfällen städningen skall ske. Listan visar namn på lägenhetsinnehavaren
    samt lägenhetsnummer.
  </p>

  <p>
    Du som hyr i andra hand övertar ansvaret för städningen från din hyresvärd.
    I mitten på aktuell månad skall trapphusen sopas och i slutet av samma
    månad skall trapporna sopas och våttorkas. OBS!  Städningen omfattar HELA
    trapphuset.
  </p>

  <h2>Tvättstugan</h2>
  <p>
    Tvättider bokas på planeringstavlan vid tvättstugan. Det finns en
    anslagstavla som informerar om reglerna för detta – läs den. Vidare skall
    tvättmaskinerna rengöras efter varje tillfälle. Gör ren doseringslådan från
    tvättmedel och torka av maskinerna så att de är rena och
    snygga. Torktumlarens ”luddlåda” skall alltid tömmas och rengöras efter
    varje tillfälle. Se till att respektera de tvätt- och torktider ni har för
    att undvika problem och irritation. Läs vidare på instruktionerna på
    väggarna i tvättstugan.
  </p>

  <h2>Allmänna utrymmen</h2>
  <p>
    I de allmänna utrymmena i källaren eller på vinden, får inget placeras
    eller ställas upp. Föreningen tillhandahåller varje år en stor container
    där alla får slänga skräp utan kostnad.
  </p>

  <h2>Vad får ni göra i en bostadsrätt?</h2>

  <p>
    Enligt bostadsrättslagen och föreningens stadgar ansvarar
    bostadsrättshavaren för underhållet av sin lägenhet och ska vidta de
    reparationer som behövs samt svara för kostnaderna. Bostadsrättshavaren ska
    på egen bekostnad hålla lägenheten med tillhörande utrymmen i gott skick.
    Du ska även åtgärda skador som uppstår i lägenheten oavsett om skadan
    uppkommit genom ditt eget vållande, olyckshändelse eller på annat sätt,
    exempelvis av besökare i din bostad.
  </p>

  <p>
    Till det som bostadsrättshavaren svarar för räknas i allmänhet bl a
    underhåll av lägenhetens ytskikt, väggar, golv och tak, s.k. inre
    underhåll. Föreningen har underhållsansvaret för yttre underhåll samt
    ledningar för avlopp, gas, el och vatten samt ventilationskanaler som
    föreningen försett lägenheten med och som inte är synliga i lägenheten.
  </p>

  <p>
    Om en bostadsrättshavaren inte fullgör sin underhållsskyldighet enligt
    bostadsrättslagen och stadgarna kan nyttjanderätten till lägenheten
    förverkas om bristen är så allvarlig att vanvård föreligger.
  </p>

  <h2>Gemensamt ansvar</h2>
  <p>
    Som boende i en bostadsrätt är man med och påverkar sitt boende. Det är upp
    till dig och de andra medlemmarna att se till att föreningen är välskött
    och trevlig att bo i. Det gör att man som bostadsrättshavare kanske känner
    lite extra för ”sitt hus” och får ett lite mer personligt förhållande till
    sitt boende. Det brukar även finnas möjlighet att förutom styrelsearbetet
    engagera sig i föreningen genom exempelvis trädgårdsgrupper, gemensamma
    fritidsaktiviteter med mera.
  </p>

  <h2>Bostadsrätt - bygga om och renovera</h2>
  <p>
    Ja, vad får du göra i en bostadsrätt, hur mycket får du ändra om? Svaret
    finns i föreningens stadgar. Grundprincipen är att du får ändra på det som
    är ditt ansvar.

  <p>Det här brukar du få göra:</p>

  <h3>Väggar och golv</h3>
  <p>Att måla om, tapetsera och lägga nya golv är väl en självklarhet.</p>

  h3 Lägenhetsinredning
  <p>
    Garderober, hyllor och liknande får flyttas, tas bort eller monteras in,
    helt fritt.
  </p>

  <h3>Dörrar</h3>
  <p>
    Innerdörrar och dörrkarmar kan tas bort eller bytas ut, liksom glaspartier
    och liknande. Ytterdörren får också bytas, men standard och utseendet måste
    stämma med föreningens.
  </p>

  <h3>Badrum</h3>
  <p>
    Du får renovera badrummet, och göra om det helt och hållet om du vill, bara
    det görs korrekt och fackmannamässigt. Men vattenanslutningar och avlopp
    får inte ändras hur som helst. Golvbrunn-byte brukar bekostas av
    föreningen, och den brukar inte kunna flyttas, i alla fall inte utan
    styrelsens godkännande. Även byte av radiator till handdukstork brukar
    kräva ett godkännande.
  </p>

  <h3>Köket</h3>
  <p>
    Det är fritt fram att byta all köksinredning. Men samma restriktioner
    gäller som i badrummet: Ändrade vatten- och avlopps-anslutningar kräver
    samråd med styrelsen. Köksfläkt får i regel inte anslutas till
    centralventilationen, enbart kolfilterfläkt. Men det förekommer undantag,
    beroende på husets konstruktion.
  </p>

  <h3>Väggar</h3>
  <p>
    Icke bärande väggar brukar få rivas eller flyttas, men kontrollera alltid
    med styrelsen först. Bärande väggar får dock aldrig röras. Sådana ingrepp
    kräver alltid noggrann utredning, bygglov, och styrelsens skriftliga
    godkännande, och beviljas sällan.
  </p>

  <h3>Balkong / terass</h3>
  <p>
    Större arrangemang som balkonginglasning, vindskydd och markis brukar
    alltid kräva tillstånd av föreningen. Du får heller inte måla om, inte på
    ett utåt sett avvikande sätt. Uppsättning av parabol hanteras väldigt
    olika, men brukar få sättas upp om det görs inne på balkongen.
  </p>

  <h3>Fönster</h3>
  <p>
    Fönstrena är föreningens egendom, dom får inte bytas eller ändras, bara
    målas om på insidan. Persiennerna är däremot dina.
  </p>

  <h3>Element / radiatorer</h3>
  <p>
    Om det är vattenburen värme är det föreningens egendom, radiatorer får
    alltså inte monteras bort eller flyttas, inte utan styrelsen medgivande.
  </p>

  <h3>Elinstallationer</h3>
  <p>
    All el, kontakter och lamparmaturer är ditt ansvar, även elcentralen, och
    du får dra nytt och lägga till, bara det görs av behörig elektriker.
  </p>

  <h3>Ventilationsanordningar</h3>
  <p>
    Ventilationen kan fungera lite olika i olika typer av fastigheter. Du får i
    regel inte sätta igen eller ta bort befintlig ventil, dom finns ju där för
    din hälsas skull. Rådgör alltid med styrelsen om du vill ändra på något.
    Obs! De flesta föreningar har regler och restriktioner för när du får
    utföra störande arbeten, det brukar t ex inte vara tillåtet på kvällstid
    och vissa tider på helgerna
  </p>
</div>
