<div class="main-content">
  <h1>Kontaktuppgifter</h1>
  <p>
    Här följer kontaktuppgifter för oss i styrelsen
  </p>

  <div class="contacts" ng-controller="ContactsCtrl">
    <div class="contact" ng-repeat="person in contacts">
      <image ng-src="images/{{person.image}}" ng-if="person.image"/>

      {{person.name}} ({{person.role}})

      <dl>
        <dt ng-if="person.responsibilities">Ansvarsområden</dt>
        <dd ng-if="person.responsibilities">{{person.responsibilities}}</dd>

        <dt>Mail</dt>
        <dd>{{person.email}}</dd>

        <dt ng-if="person.phone">Mobil</dt>
        <dd ng-if="person.phone">{{person.phone}}</dd>

        <dt ng-if="person.address">Uppgång</dt>
        <dd ng-if="person.address">{{person.address}}</dd>
      </dl>
    </div>
  </div>
</div>

