<div class="main-content">
  <h1>Kontaktuppgifter</h1>
  <p>
    Här följer kontaktuppgifter för oss i styrelsen
  </p>

  <div class="contacts" ng-controller="ContactsCtrl">
    <div class="contact" ng-repeat="person in contacts">
      <image ng-src="images/{{person.image}}" ng-if="person.image"/>

      {{person.name}} ({{person.role}})

      <dl>
        <div ng-if="person.responsibilities">
          <dt>Ansvarsområden</dt>
          <dd>{{person.responsibilities}}</dd>
        </div>

        <dt>Mail</dt>
        <dd>{{person.email}}</dd>

        <div ng-if="person.phone">
          <dt>Mobil</dt>
          <dd>{{person.phone}}</dd>
        </div>

        <div ng-if="person.address">
          <dt>Uppgång</dt>
          <dd>{{person.address}}</dd>
        </div>
      </dl>
    </div>
  </div>
</div>

