<div class="main-content">
  <div class="my-container">
    <form class="form-signin" name="loginForm" action="/login" method="post" ng-model="user" novalidate>
      <input type="text" class="input-block-level" name="username" placeholder="Användarnamn" ng-model="user.username" required>
      <input type="password" class="input-block-level" name="password" placeholder="Lösenord" ng-model="user.password" required>
      <button class="btn btn-large btn-primary" type="submit" ng-disabled="!loginForm.$valid">Logga in</button>
    </form>
  </div>

  <!-- if loginMessage &#38;&#38; loginMessage.length -->
  <!--   .loginMessage -->
  <!--     p #{loginMessage} -->
</div>

