<div class="main-content" ng-init="message=message">
  <div class="my-container" ng-controller="AdminUserCtrl">
    <form class="form-signin" name="loginForm" ng-submit="login(credentials)" novalidate>
      <input type="text" class="input-block-level" name="username" placeholder="Användarnamn" ng-model="credentials.username" required>
      <input type="password" class="input-block-level" name="password" placeholder="Lösenord" ng-model="credentials.password" required>
      <button class="btn btn-large btn-primary" type="submit" ng-disabled="!loginForm.$valid">Logga in</button>

      <div class="login-message" ng-show="message">
        <span>
          {{message}}
        </span>
      </div>
    </form>
  </div>
</div>

