<div class="main-content">
  <h1>Omberg III</h1>

  <p>
    Välkommen till Omberg III, en bostadsrättsförening med 84 lägenheter och
    flera gemensamma utrymmen i östra Göteborgs centrum.
  </p>
  <p>
    I vårt fina landshövdingehus på Storkgatan 6 i Bagaregården, har vi en stor
    innergård med träd, växter och planteringar som skapar en trivsam miljö.
  </p>
  <p>
    Under vår, sommar och höst ofta sitter vi ofta på gården och fikar, äter
    och umgås.
  </p>
  <p>
    I området finns det ett flertal närbutiker och caféer. På gångavstånd
    ligger östra Göteborgs knytpunkt Redbergsplatsen som erbjuder allt från
    restauranger, shoppingbutiker och matbutiker till apotek och vårdcentral.
  </p>
  <p>
    När det gäller friluftsliv så finns Skatås Motionscentrum vid
    Delsjöområdet, där man kan träna på gym, spela frisbeegolf, ta en tur i
    joggingspåret, paddla kanot och mycket mer.
  </p>
  <p>
    En kort promenad från Redbergsplatsen ligger också ett antal träningscenter
    och gym, där man kan gå på olika pass och prova på många träningsformer.
  </p>
  <p>
    Vår nya samlingslokal i J-källaren är snart helt klar. Många timmars
    ideellt arbete har lagts ner på lokalen som kommer att bli till stor nytta
    och glädje för oss i föreningen. Vi har många idéer på hur den kan
    användas: bland annat för gemensamma aktiviteter för allas trevnad. Den
    skall också kunna hyras för en billig penning vid exempelvis kalas av olika
    slag.
  </p>
</div>

<div class="sidebar">
  <div class="widget">
    <h2>Gemensamt ansvar</h2>
    <p>
      Vi har gemensamt ansvar för att hålla rent i tvättstugan,
      trappuppgångarna samt i allmänna utrymmen som vind och källare. Läs mer
      om detta under <a href="information">Information</a>.
    </p>

    <h2>Vad får du göra?</h2>
    <p>
      Läs mer om vad du får göra i din bostadsrätt under
      <a href="information">Information</a>.
    </p>

    <h2>Andrahandsuthyrning</h2>
    <p>
      Hämta blankett för att ansöka om andrahandsuthyrning
      <a href="andrahandsansokan.pdf">här</a>.
    </p>

    <h2>Övernattning</h2>
    <p>
      Det finns två övernattnings-lägenheter som kan hyras när du exempelvis har
      besök av släktingar eller vänner. Klicka
      <a href="bokning">här</a> för att se schemat över bokningar.
    </p>
  </div>
</div>

